{% extends 'base.jinja2' %}

{% block subtitle %}Donor by total donation{% endblock subtitle %}

{% block content %}

    <canvas style="border:1px blue solid;margin: 10px;" id="chart" width="600" height="600"></canvas>
    <script>
       // bar chart data
       var barData = {

       maxval : [ {{ max_val }}],

       labels : [{% for item in labels %}
                      "{{item}}",
                  {% endfor %}],
       datasets : [
          {
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
             data : [{% for item in values %}
                          {{item}},
                        {% endfor %}]
          }
          ]
       }


       // get bar chart canvas
       var mychart = document.getElementById("chart").getContext("2d");

       steps = 25
       max = barData.maxval
       // draw bar chart
       new Chart(mychart).Bar(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true
       });

    </script>
{% endblock content %}
