<html>
<head>
<title>Mailroom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src='/static/Chart.min.js'></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>


<div class="container-fluid" >
  <div class="carousel" style="margin: 0px;background-color:#0f0f0f;">
    <h1 style="font-variant: small-caps;color:#e38d13;"><i class="fab fa-mailchimp">&nbsp;&nbsp;</i>Flask Mailroom</h1>
      <div style="float:right;color:#e38d13;margin-right: 15px;">
          <i>{{ welcome }}</i>
      </div><br/>

      <nav class="navbar-collapse">
           <a title="Home" class="navbar-brand" href={{ url_for('all')}}><i class="fas fa-home my-icon"></i></a>
           <a title="Search for a donor" class="navbar-brand" href={{ url_for('donors')}}><i class="fab fa-searchengin"></i></a>
           <a title="Add a donor" class="navbar-brand"     href={{ url_for('create')}}><i class="fas fa-user-plus my-icon"></i></a>
           <a title="Donors by total" class="navbar-brand" href={{ url_for('bar')}}><i class="fas fa-chart-bar my-icon"></i></a>
           <a title="Distribution of Total Donation by Donor" class="navbar-brand" href={{ url_for('pie')}}><i class="fas fa-chart-pie"></i></a>
           <div style="float: right;margin-right: 10px;">
            {% if welcome =="" %}
                <a title="Sign in" class="navbar-brand" href={{ url_for('login')}}><i class="fas fa-sign-in-alt my-icon"></i></a>
            {% else %}
                <a title="Sign out" class="navbar-brand" href={{ url_for('logout')}}><i class="fas fa-sign-out-alt my-icon"></i></a>
            {% endif %}
           </div>
        </nav>
    </div>
</div>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>