{% extends 'base.jinja2' %}

{% block subtitle %}Add Donor{% endblock subtitle %}

{% block content %}

    <script>
        function  validateForm() {
            var val = document.forms["frmCreate"]["donation"].value;
            if (isNaN(val) || val < 10) {
                alert("Donations must be at least $10");
                return false;
            }
            else{
                return true;
            }
        }
    </script>

    <form method="POST" name="frmCreate" onsubmit="validateForm()">
        <div style="width: fit-content;margin: 15px;">
            <span  name="isOk" id="isOk"></span>
            <label for="name-input">Enter donor name:&nbsp;</label><input id="name-input" type="text" name="name" value="{{ name }}" required >
            <br />
            <label for="donation-input">Donation amount:&nbsp; </label><input id="donation-input" type="text" name="donation" required>

            <div align="center" style="border-top: 1px solid gainsboro;margin: 5px;padding: 5px;">
                 <input type="submit" class="btn-default" value="Create Donor">
            </div>
        </div>

    </form>
{% endblock content %}