{% extends 'base.jinja2' %}

{% block subtitle %}View a donor's donations{% endblock subtitle %}

{% block content %}
    <script>


    </script>

    <form method="POST"  name="frmDonor">

        <div style="width: fit-content;margin: 15px;">

            <select name="target" id="target" onchange="this.form.submit()" style="width:200px;">
                 {% for i in donor_list %}
                     {%  if i == selected_donor %}
                         <option value="{{i}}" selected>{{i}}</option>
                     {% else %}
                         <option value="{{i}}">{{i}}</option>
                     {% endif %}

                 {% endfor %}
            </select>
        </div>
    </form>


    <ol>
        {% for i in donations[1] %}
            <li>{{i}}</li>
        {% endfor %}
    </ol>

{% endblock content %}
