{% extends 'base.jinja2' %}

{% block subtitle %}Log in{% endblock subtitle %}

{% block content %}
<div style="width: fit-content;margin: 15px;">
<form method="POST">

    {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
    <table>
    <tr><td><label for="name-input">Username:</label></td><td><input id="name-input" type="text" name="name"></td></tr>
    <tr><td><label for="password-input">Password:</label></td><td><input id="password-input" type="password" name="password"></td></tr>
    </table>
    <div align="center" style="border-top: 1px solid gainsboro;margin: 5px;padding: 5px;">
         <input type="submit" class="btn-default" value="Login">
    </div>
</form>
</div>
{% endblock content %}